{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Mi perfil</legend><br>
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading text-center">{{ current_user.username }}</h2>
            <p class="text-secondary text-center">{{ current_user.email }}</p>
            <legend class="text-center">Acerca de mi</legend>
            <div class="content">
                <p class="text-secondary">{{ current_user.about  }}</p>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data"></form>
    </div>
            {{ form.hidden_tag() }}
            <fieldset class="form-group"> 
          </fieldset>
        </form>
        <div class="form-group text-right">
            <a class="btn btn-outline-dark text-center" href="{{ url_for('update_account') }}">Modificar Datos</a>
        </div>
        <br>
</div>
<div class="content-section">
    <legend>Mis conexiones:</legend>
    <p> Tienes {{ current_user.followers.count() }} linker, estas linkeando a {{ current_user.followed.count() }} miembros del foro</p>
</div>
        <legend>Mis posts:</legend>
        {% for post in posts %}  
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">@{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content | truncate(150) | safe }}</p>
                </div>
            </article> 
    {% endfor %} 

{% endblock content %}